@media (max-width: 1200px) {
    .header {
        margin-top: 3rem;
        margin-left: 1rem;
        margin-bottom: 20%;
        height: 20%;
        width: 110%;
    }
    .header-text-frame {
        margin-top: 4rem;
        font-size: 1.75rem;
        font-weight: 600;
    }
    .header-upper-text {
        display: inline;
        margin-bottom: 0%;
    }
    .header-bottom-text {
        display: block;
        margin-top: 3%;
    }
    .tile-image {
        height: 15rem;
        aspect-ratio: 4 / 3;
        float: left;
        display: block;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    .left {
        display: block;
        float: left;
        margin-bottom: 30px;
        text-align: justify;
    }
    .right {
        display: block;
        float: right;
        margin-bottom: 30px;
        text-align: justify;
    }
}